.navbar
  &-item
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 60px
    &__logo
      padding-right: 70px
    &__links
      display: flex
      align-items: center
    &__link
      padding-right: 24px
      color: #fff
      cursor: pointer
  &-mobile
    display: none
    justify-content: space-between
    flex-direction: column
    padding: 0
    width: 26px
    height: 16px
    border: none
    cursor: pointer
    background-color: #111
    &__burger
      min-width: 20px
      min-height: 2px
      background-color: #fff
