.main
  &-info
    max-width: 500px
    &__data
      padding: 90px 0px 16px 0px
      font-weight: normal
      font-size: 14px
      line-height: 16px
    &__stars
      &__number
        font-weight: normal
        font-size: 12px
        line-height: 14px
        padding-left: 7px
    &__title
      font-weight: 500
      font-size: 76px
      line-height: 89px
      margin: 10px 0
      font-family: 'MasonChronicles'
    &__description
      font-weight: normal
      font-size: 14px
      line-height: 150%
      padding-bottom: 40px
    &__button
      width: 260px
      height: 60px
      display: flex
      justify-content: center
      align-items: center
      background-color: #9D2929
      border-radius: 8px
      padding: 22px 68px
      font-weight: bold
      font-size: 14px
      line-height: 16px
      margin-bottom: 110px
      cursor: pointer
    &__arrow
      display: flex
      align-items: center
      margin-left: 30px
    &__video
      display: flex
      &__card
        width: 164px
        height: 113px
        background-color: red
        border-radius: 8px
        padding: 13px
        &__img
          background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url(image.png)
          border-radius: 8px
          position: absolute
        &-text
          display: flex
          flex-direction: column
          justify-content: flex-end
          position: relative
          &__number
            font-weight: normal
            font-size: 10px
            line-height: 12px
          &__title
            font-weight: bold
            font-size: 14px
            line-height: 16px
